nav {
  border: 1px solid #ffd700;
}
nav a:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.animated-text {
  display: inline-block;
}

.animated-letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
